<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <center>
        <table border="1" width="600">
            <tr>
            <td colspan="2" align="center">Place To Visit</td><td colspan="2" align="center">Fukuoka, Japan</td>
            </tr>
            <tr>
            <td align="center">Location:</td><td>Nagasaki</td><td>Resort Name:</td><td>Huis Ten Bosch</td>
            </tr>
            <tr>
            <td colspan="2" align="center">More Information</td><td colspan="2" align="center"><a href=http://english.huistenbosch.co.jp>Japan's Largest Theme Park</a></td>
            </tr>
            <tr>
             <td colspan="4" align="center"><img src="Nagasaki.jpg" width="500"></td>
            </tr>
            </table>


    </center>

</body>

</html>
